# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# Based on Google style with PostgreSQL-friendly modifications
BasedOnStyle: Google
Language: Cpp

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

# Column limit
ColumnLimit: 100

# Braces
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

# Includes
IncludeBlocks: Regroup
IncludeCategories:
  # PostgreSQL headers first
  - Regex: '^"postgres\.h"'
    Priority: -1
  - Regex: '^<postgres\.h>'
    Priority: -1
  # C standard library
  - Regex: '^<c(assert|ctype|errno|fenv|float|inttypes|limits|locale|math|setjmp|signal|stdarg|stdbool|stddef|stdint|stdio|stdlib|string|tgmath|time|uchar|wchar|wctype)>'
    Priority: 1
  # C++ standard library
  - Regex: '^<[a-z_]+>'
    Priority: 2
  # External libraries
  - Regex: '^<(arrow|parquet|iceberg|boost)/'
    Priority: 3
  # Project headers
  - Regex: '^"'
    Priority: 4

# Pointers and references
PointerAlignment: Right
ReferenceAlignment: Right

# Spaces
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: false
SpacesInContainerLiterals: false

# Other
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
SortIncludes: CaseSensitive
ReflowComments: true
